*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #3c4147;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.text-block{
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    display: block;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue";
    line-height: 20px;
    padding-bottom: 20px;

    max-width: 325px;
    position: absolute;
    left: calc(50% - 162px);
    top:calc(50% - 90px);
    color: #0D0D0D;
}

div.correction{
    position: relative;
    display: inline-block;
    transition: 0.4s;
}
div.correction:after{
    position: absolute;
    pointer-events: none;
    content: '';
    display: block;
    opacity: 0;
    transition: 0.3s;
    width: 100%;
    height: 16px;
    left: 0;
    bottom: 1px;
}
div.correction:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0.5;
    left: 0;
    bottom: 1px;
}
div.correction.major:before{
    background-color: #FF4D4D;
}
div.correction.suggestion:before {
    background-color: #FF9B4D;
}
div.correction.checked:before{
    background-color: #FF9B4D;
}

div.correction.major:after{
    background-color: #FF4D4D;
}
div.correction.suggestion:after {
    background-color: #00C67C;
}
div.correction.checked:after{
    background-color: #FF9B4D;
}
div.correction:hover:after{
    opacity: 0.3;
}

/*logo*/
.logo{
    position: absolute;
    z-index: 10;
    border-radius: 25px;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 10px;
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid #0AAAFF;
    padding: 0px 5px;
    width: 24px;
}
.logo > div {
    width: 0;
    flex-direction: column;
    /*margin-right: 7px;*/
    display: none;
    overflow: hidden;
    transition: 0.4s;
}
.logo span{
    color: #5A5D64;
    font-size: 9px;
    line-height: 9px;
    opacity: 0.6;
}
.logo b{
    color: #5A5D64;
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
    bottom: 8px;
}
.logo svg{
    width: 10px;
    height: 17px;
}
.logo:hover{
    width: auto;
    height: 30px;
    padding-left: 12px;
}
.logo:hover svg{
    width: 14px;
    height: 24px;
}
.logo:hover > div{
    display: flex;
    width: 55px;
    margin-bottom: 2px;
}