*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #3c4147;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.text-block{
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    display: block;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue";
    line-height: 20px;
    padding-bottom: 20px;

    max-width: 325px;
    position: absolute;
    left: calc(50% - 162px);
    top:calc(50% - 90px);
    color: #0D0D0D;
}

div.correction{
    position: relative;
    display: inline-flex;
    transition: 0.4;
}
div.correction:after{
    position: absolute;
    pointer-events: none;
    content: '';
    display: block;
    opacity: 0;
    transition: 0.3s;
    width: 100%;
    height: 16px;
    left: 0;
    bottom: 1px;
}
div.correction:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0.5;
    left: 0;
    bottom: 1px;
}
div.correction.major:before{
    background-color: #FF4D4D;
}
div.correction.suggestion:before {
    background-color: #FF9B4D;
}
div.correction.quick:before{
    background-color: #00C67C;
}

div.correction.major:after{
    background-color: #FF4D4D;
}
div.correction.suggestion:after {
    background-color: #FF9B4D;
}
div.correction.quick:after{
    background-color: #00C67C;
}
div.correction:hover:after{
    opacity: 0.3;
}

/*logo*/
.logo{
    position: absolute;
    z-index: 10;
    border-radius: 25px;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 10px;
    /* transition: 0.2s; */
    cursor: pointer;
    border: 1px solid #0AAAFF;
    padding: 0px 5px;
    width: 24px;
    background-color: white;
}
.logo.alert{
    border-color: #FF4D4D;
}
.logo.alert svg path{
    fill: #FF4D4D;
}
.logo.corrected{
    border-color: #00C67C;
}
.logo.corrected svg path{
    fill: #00C67C;
}
.logo .powered {
    width: 0;
    overflow: hidden;
    /* transition: 0.2s; */

}
.logo:hover .powered{
    width: 60px;
    padding-right: 7px;
}
/* .logo .wwrer div {
    width: 0;
    flex-direction: column;
    margin-right: 5px;
    display: none;
    overflow: hidden;
    transition: 0.4s;
} */
/* .logo span{
    color: #5A5D64;
    font-size: 9px;
    line-height: 9px;
    opacity: 0.6;
}
.logo b{
    color: #5A5D64;
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
    bottom: 8px;
} */
.logo .l{
    width: 10px;
    height: 17px;
}
/* .logo svg{
    width: 10px;
    height: 17px;
} */
.logo:hover{
    width: auto;
    height: 30px;
    padding-left: 12px;
}
.logo:hover .l{
    width: 14px;
    height: 24px;
}
/* .logo:hover > div{
    display: flex;
    width: 55px;
    margin-bottom: 2px;
} */

/* marks */
div.correction .marks{
    display: none;
    position: absolute;
    /* border: 1px solid; */
    bottom: 20px;
    left: -9px;
}
div.correction:hover .marks{
    display: inline-flex;
}
div.correction .marks .line{
    display: flex;
}
div.correction .marks .sup-line{
    display: none;
    position: absolute;
    bottom: 24px;
    padding-bottom: 2px;
    left: 0;
}
div.correction .marks .item{
    background: #FFFFFF;
    color: #0AAAFF;
    border: 0.5px solid #0AAAFF;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    height: 24px;
    padding: 2px 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 1px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    white-space: nowrap;
}
div.correction .marks .item:first-child:before{
    content: '';
    position: absolute;
    display: block;
    
    background-color: white;
    bottom: -2.5px;
    left: 10px;
    width: 4px; 
    height: 4px; 
    border: 0.5px solid #0AAAFF;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    transition: 0.3s;
}
div.correction .marks .sup-line .item:first-child:before{
    display: none;
}

div.correction.through .marks .item{
    text-decoration: line-through;
}
/* more */
div.correction .marks .item.more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    padding: 2px;
    padding-bottom: 10px;
    color: #5A5D64;
    border-color: #AFB3BD;
    position: inherit;
}
div.correction .marks .item.more:hover{
    background-color: #AFB3BD;
    border: 0.5px solid #AFB3BD;
    color: white;
}
div.correction .marks .item.more:hover .sup-line{
    display: flex;
    
    color: #0D0D0D;
}

/* trash */
div.correction .marks .item.trash{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    min-width: 24px;
    color: white;
    font-weight: 300;
    border-color: #AFB3BD!important;
}
div.correction .marks .item.trash{
    transition: 0.2s;
}
div.correction .marks .item.trash span{
    display: inline-block;
    /* display: none; */
    width: 0;
    overflow: hidden;
    transition: 0s;
    padding-left: 0;
    font-size: 12px;
    line-height: 20px;
}
div.correction .marks .item.trash .hover{
    display: none;
}
div.correction .marks .item.trash:hover{
    background-color: #FF4D4D!important;
    border: 0.5px solid #FF4D4D!important;
    padding-left: 6px;
    padding-right: 6px;
}
div.correction .marks .item.trash:hover span{
    /* display: inline-block; */
    padding-left: 5px;
    width: 40px;
}   
div.correction .marks .item.trash:hover .hover{
    display: inline-block
}
div.correction .marks .item.trash:hover .default{
    display: none;
}
/*  */
div.correction .marks .item:hover{
    color: #FFFFFF;
    background: #0AAAFF;
    border: 0.5px solid #0AAAFF;
}
div.correction .marks .item:first-child:hover:before{
    background: #0AAAFF;
    border-color: #0AAAFF;
}

/*  */
div.correction.suggestion .marks .item{
    border-color: #FF9B4D;
    color: #3C4147;
}
div.correction.suggestion .marks .item:hover{
    color: white;
    border-color: #FF9B4D;
    background-color: #FF9B4D;
}
div.correction.suggestion .marks .item:hover:before{
    border-color: #FF9B4D;
    background-color: #FF9B4D;
}
/*  */

div.correction.quick .marks .item{
    border-color: #00C67C;
    color: #00C67C;
}
div.correction.quick .marks .item:hover{
    color: white;
    border-color: #00C67C;
    background-color: #00C67C;
}
div.correction.quick .marks .item:hover:before{
    border-color: #00C67C;
    background-color: #00C67C;
}
div.correction.suggestion .marks .item:first-child:before{
    border-color: #FF9B4D;
}
div.correction .marks .item:first-child:before{
    border-color: #0AAAFF;
}



/* uikt */
.b{
    position: relative;
    width: 110px;
    height: 50px;
    background-color: white;
}